.App{text-align: center;}
.container{width: 80%;margin:0 auto;}
.container>img{border:2px solid #d3d3d3;border-radius: 2px;}
.imgContainer{width: 100%;}
.imgContainer ul{list-style: none;padding: 0;margin: 0}
.imgContainer ul li{width: 200px;height: 120px;background-size: contain;display: inline-block;margin: 5px;cursor: pointer;}
.imgContainer ul li img{width: 100%;height: 100%}